.home {
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
  min-height: 100vh;

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: calc(100vh - 60px);
    text-align: left;
    font-size: desktop-vw(16px);
    max-width: desktop-vw(1400px);
    margin: 100px -10px 0 auto;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
  }

  .word {
    display: inline-block;
    cursor: pointer;
  }

  .titleText {
    display: block;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  .titleText2 {
    display: block;
    color: rgb(202, 202, 202);
    position: relative;
    z-index: 2;
  }

  .studioRezy {
    font-size: desktop-vw(64px);
    display: block;
    margin-bottom: desktop-vw(20px);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
}

.backgroundVideo {
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  @media (min-width: 768px) {
    position: absolute;
    padding: 20px;
    top: -100px;
  }
}

.container {
  position: relative;
  width: 100%;
  z-index: 3;
  pointer-events: auto;
}

.content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 10px;
  @media (min-width: 768px) {
    position: relative;
    padding: 0px;
  }
}
.cardGridContainer {
  position: relative;
  bottom: 500px;
  left: 0;
  z-index: 2;
  padding: 10px;
  @media (min-width: 768px) {
    position: absolute;
    padding: 0px;
    bottom: 0px;
    right: 0px;
  }
}
.video-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  will-change: transform;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Slight overlay to make text more readable */
    z-index: 2;
  }

  :global(.background-video) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: translateZ(0);
  }
}
